@charset "UTF-8";

.my-company-main {
    padding-top: 4rem;
    padding-bottom: 4rem;

	.my-company-title-box {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-bottom: 10px;

		.my-company-title {
			display: inline-flex;
			justify-content: center;
			color: #777;
			width: 30%;
			font-weight: bold;
			font-size: 1.2rem;
		}
	}

	.my-company-box {

		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		form {
			display: inline-flex;
			justify-content: center;
			align-items: flex-start;
			width: 30%;
		}

		.my-company-data-box {

			.my-company-name-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}

				.btn-light {
					cursor: pointer;
					border-radius: 0;
					border: 1px solid #e9e9e9;
				}

			}

			.my-company-ceo-name-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}
			}

			.my-company-establishment-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 50%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}
			}
			
			.my-company-income-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}
			}
			
			.my-company-employee-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}
			}
			
			
			
			.my-company-salary-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}
			}
			
			.my-company-capital-stock-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}
			}
			
			.my-company-occupation-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}
			}

			.my-company-address-box {

				.row {
					margin-bottom: 10px;
				}

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}
				
				input#add_search_btn {
				    background-color: aliceblue;
				    border: 1px solid aliceblue;
				}
			}

			.my-company-btn-box {
				width: 100%;

				.btn-light {
					width: 100%;
					border: none;
					padding: 10px;
				}
			}

		}
	}
}

/* 601 ~ 768 */
@media (max-width : 768px) {
	.my-company-main {

		.my-company-box {

			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			form {
				display: inline-flex;
				justify-content: center;
				align-items: flex-start;
				width: 80%;
			}
		}
	}

}