@charset "UTF-8";

.container {
	width: 100%;
}

.signup-main {
	padding-top: 4rem;
	padding-bottom: 4rem;

	.signup-title-box {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-bottom: 10px;

		.signup-title {
			display: inline-flex;
			justify-content: center;
			color: #777;
			width: 30%;
			font-weight: bold;
			font-size: 1.2rem;
		}
	}

	.signup-box {

		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		form {
			display: inline-flex;
			justify-content: center;
			align-items: flex-start;
			width: 30%;
		}

		.signup-data-box {

			.signup-email-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}

				.btn-light {
					cursor: pointer;
					border-radius: 0;
					border: 1px solid #e9e9e9;
				}

			}

			.signup-password-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}
			}

			.signup-name-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 50%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}
			}

			.signup-phone-num-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}
			}

			.signup-nick-name-box {
				display: inline-flex;
				width: 100%;
				margin-bottom: 10px;

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}
			}

			.signup-address-box {

				.row {
					margin-bottom: 10px;
				}

				input {
					width: 100%;
					border: 1px solid #e9e9e9;
					background: #f7f7f7;
					padding: 10px 10px 10px 10px;
				}

				input#add_search_btn {
					background-color: aliceblue;
					border: 1px solid aliceblue;
				}
			}

			.signup-btn-box {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 100%;

				.btn-light {
					width: 100%;
					border: none;
					padding: 10px;
				}
			}

		}
	}
}

/* 601 ~ 768 */
@media (max-width : 768px) {
	.signup-main {

		.signup-box {

			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			form {
				display: inline-flex;
				justify-content: center;
				align-items: flex-start;
				width: 80%;
			}
		}
	}

}