@charset "UTF-8";

.carousel-inner.mainSlider {
    height: 100%;
}

/* main */
.container {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.section {
    text-align: center;
}

.row {
    align-items: center;
    justify-content: center;
}