@charset "UTF-8";

form {
	width: 100%;
}

.row {
	margin: 0;
}

.col {
	padding: 0;
}

.region-select-box {
	background-color: white;
	padding: 0;

	button {
		width: 100%;
	}
}

.job-select-box {
	background-color: white;
	padding: 0;

	button {
		width: 100%;
	}
}

.row.area-region {
	display: none;
	position: relative;
	z-index: 1;
	margin: -1px;
	min-height: 310px;
	border: 1px solid #212121;
	box-sizing: border-box;
	background: #fff;

	.row.region-search {
		width: 100%;

		.col.region-search {
			padding: 12px 12px 12px 30px;
			height: 60px;
			border-bottom: 1px solid #e7e7e7;
		}
	}

	.row.viewport {
		overflow: hidden;
		position: relative;
		z-index: 1;
		width: 100%;
		height: 245px;

		.col-4.region {
			overflow: scroll;
			height: 245px;
			padding: 0;
		}

		.col-8.gu {
			overflow: scroll;
			height: 245px;
			border-left: 1px solid #f1f1f1;
			padding: 5px;
		}

		button.region {
			width: 45%;
			background-color: white;
			border: 1px solid #f1f1f1;
			margin: 7px 8px 4px 7px;
		}

		button.gu {
			width: 23%;
			margin: 5px;
			padding: 5px;
			background-color: white;
			border: 1px solid #f1f1f1;
			margin: 5px;
		}
	}

	.selected-region {
		border-top: 1px solid #f1f1f1;

		.selected-div {
			background-color: antiquewhite;
			margin: 7px;
			padding: 0 0 0 10px;
			justify-content: center;
			align-items: center;
			display: inline-flex;

			button.btn.seleted-gu {
				background: none;
			}

		}
	}
}

.row.area-job {
	display: none;
	position: relative;
	z-index: 1;
	margin: -1px;
	min-height: 310px;
	border: 1px solid #212121;
	box-sizing: border-box;
	background: #fff;

	.row.job-search {
		width: 100%;

		.col.job-search {
			padding: 12px 12px 12px 30px;
			height: 60px;
			border-bottom: 1px solid #e7e7e7;
		}
	}

	.row.viewport {
		overflow: hidden;
		position: relative;
		z-index: 1;
		width: 100%;
		height: 245px;

		.col-4.job-class {
			overflow: scroll;
			height: 245px;
			padding: 0;
		}

		.col-8.job {
			overflow: scroll;
			height: 245px;
			border-left: 1px solid #f1f1f1;
			padding: 5px;
		}

		button.job-class {
			width: 45%;
			text-align: left;
			background-color: white;
			border: 1px solid #f1f1f1;
			margin: 7px 8px 4px 7px;
		}

		button.job {
			width: 23%;
			margin: 5px;
			padding: 5px;
			background-color: white;
			border: 1px solid #f1f1f1;
			margin: 5px;
		}
	}

	.selected-job-class {
		border-top: 1px solid #f1f1f1;

		.selected-div {
			background-color: antiquewhite;
			margin: 7px;
			padding: 0 0 0 10px;
			justify-content: center;
			align-items: center;
			display: inline-flex;

			button.btn.seleted-job {
				background: none;
			}

		}
	}
}

.row.search {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 2rem;
	width: 100%;
}

.col.submit {
    display: inline-flex;
}