@charset "UTF-8";

.row {
	margin: 0;
}

.row.area {
	display: none;
	position: relative;
	z-index: 1;
	margin: -1px;
	min-height: 310px;
	border: 1px solid #212121;
	box-sizing: border-box;
	background: #fff;

	.row.region-search {
		width: 100%;

		.col.region-search {
			padding: 12px 0 12px 30px;
			height: 60px;
			border-bottom: 1px solid #e7e7e7;
		}
	}

	.row.viewport {
		overflow: hidden;
		position: relative;
		z-index: 1;
		width: 100%;
		height: 245px;

		.col-4.region {
			overflow: scroll;
			height: 245px;
			padding: 0;
		}

		.col-6 gu {
			height: 245px;
		}

		button.region {
			width: 45%;
			text-align: left;
		}

		button.gu {
            width: 23%;
            margin: 5px;
            padding: 5px;
		}
	}
}